extends ../base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old PassWord",type="password",name="oldPassword")
        input(placeholder="New PassWord",type="password",name="newPassword")
        input(placeholder="New PassWord Confirmation",type="password",name="newPasswordConfirmation")
        input(value="Change Password" ,type="submit")